:host {
  .product-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 200px;
    position: relative;
  }
  .delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #d9534f;
  }

  .edit-btn {
    position: absolute;
    top: 7px;
    right: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #5bc0de;
  }

  .edit-btn,
  .delete-btn mat-icon {
    font-size: 20px;
  }

  .add-to-cart-btn {
    width: 100%;
    padding: 8px;
    margin-top: 12px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-to-cart-btn:hover {
    background-color: #4cae4c;
  }
}
