<smart-ecommerce-platform-loader *ngIf="isLoading"></smart-ecommerce-platform-loader>
<div class="product-card">
  <button class="edit-btn" matTooltip="Edit" (click)="openEditDialog()">
    <mat-icon>edit</mat-icon>
  </button>
  <button class="delete-btn" matTooltip="Delete" (click)="openDeleteDialog()">
    <mat-icon>delete</mat-icon>
  </button>
  <h3>{{ product.name }}</h3>
  <p>{{ product.description }}</p>
  <p>Price: {{ product.price | currency }}</p>
  <p>Review: {{ product.review }} / 5</p>
  <button class="add-to-cart-btn" (click)="addToCart(product.id!)">
    <mat-icon>add_shopping_cart</mat-icon> Add to Cart
  </button>
  
</div>