<smart-ecommerce-platform-loader *ngIf="isLoading"></smart-ecommerce-platform-loader>
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
  <input formControlName="email" type="text" placeholder="Email address" required>
  <input formControlName="password" type="password" placeholder="Password" required>
</form>
  <button [disabled]="loginForm.invalid" (click)="loginUser()">Login</button>
  <p>No account? 
  <a class="register-link" (click)="redirectToRegister()">Register here</a></p>
</div>