:host {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 64px);
    width: 100%;
    background-color: aquamarine;

    .add-product-btn {
      width: 15%;
      margin-top: 20px;
      padding: 10px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
      font-family: cursive;
      font-size: 20px;

      &:hover {
        background-color: #45a049;
      }
    }

    .products-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }

    .mat-paginator {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
