:host {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 64px);
    width: 100%;
    background-color: aquamarine;

    .add-product-btn {
      width: 15%;
      margin-top: 20px;
      padding: 10px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
      font-family: cursive;
      font-size: 20px;

      &:hover {
        background-color: #45a049;
      }
    }

    .products-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }

    .filter-container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      margin: 20px auto;
      max-width: 300px;
      text-align: center;

      h2 {
        font-size: 1.5rem;
        color: green;
        margin-bottom: 16px;
      }

      .filter-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        label {
          font-weight: bold;
          color: green;
        }

        select {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
          transition: border-color 0.3s;

          &:focus {
            outline: none;
            border-color: blue;
          }
        }
      }
    }

    .mat-paginator {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
