<smart-ecommerce-platform-loader *ngIf="isLoading"></smart-ecommerce-platform-loader>
<div class="home">
  <button class="add-product-btn" (click)="openAddProductModal()">Add a new Product</button>
  <div class="products-container" >
    <smart-ecommerce-platform-product-card *ngFor="let product of products" [product]="product" (productUpdated)="onProductUpdated()"></smart-ecommerce-platform-product-card>
  </div>
  <mat-paginator
  #paginator
  class="mat-paginator"
  [length]="totalCount"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25]"
  (page)="onPageChange($event)"
>
</mat-paginator>
</div>